body {
    background: linear-gradient(to right, blue, #01c4ff );
    font: normal 15pt Arial;
}

header {
    color: #ffffff;
    text-align: center;   
}

h1 {
    font-family: Oswald;
    font-size: 50px;
}

section {
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #0000005d;
    margin: auto;
    padding: 15px;
    width: auto;
}

input {
    border-radius: 5px;
    width: 100px;
    font: bold 15pt Arial; 
}

input[type=text] {
    width: 350px;
    font: normal 15pt Arial;
}

.button {
    background-color: gray;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 15pt;
    opacity: 0.6;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    opacity: 1;
    background-color: blue;
}

div#resultado {
    padding: 10px 10px;
}

div#salvarPDF {
    padding: 10px 10px;
}

footer {
    color: #ffffff;
    font-style: italic;
    font: normal 15pt Tahoma;
    text-align: center;
}
